# Operating System
.DS_Store
*.log

# Java/Kotlin
*.class
*.dex

# Gradle
.gradle/
build/
gradle.xml

# Android
local.properties
*.apk
output.json
captures/
.externalNativeBuild/
.cxx/
bin/
gen/

# IntelliJ IDEA / Android Studio
.idea/
*.iml
.kotlin/

# Eclipse
.project
.classpath
.settings/

# ProGuard
proguard/
proguard-project.txt